@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*configuracion inicial*/
* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --primary: #29292B;
    --secondary: #8BA601;
    --white: #FEFEFE;
    --background: #F7F7F7;
    --font: "Montserrat", sans-serif;
}

body {
    font-family: var(--font);
    background: var(--background);
    display: flex;
    justify-content: center;
}

nav {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.logo {
    width: 168.136px;
    height: 30.836px;
    flex-shrink: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {

    display: inline;
    margin-left: 30px;
}

nav ul li a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    color: var(--secondary);
}

nav ul li a:visited {
    color: var(--secondary);
}

.header {
    background: var(--background);
    background-image: url(assets/header.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 530px;
}

.slide {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 530px;
}


.proyectos {
    background: var(--background);
    background-image: url(assets/proyectos.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 313px;
}

.wide {
    max-width: 100%;
    width: 100%;
}

.container {
    max-width: 1400px;
}

.caracteristicas {
    background: var(--secondary);
}

footer {
    background: var(--primary);
}


h1 {
    color: var(--secondary);
    font-family: var(--font);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 112.5%;
    /* 54px */
}


h2 {

    font-family: var(--secondary);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 span {
    color: var(--secondary);
    font-family: var(--font);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 112.5%;
}

h3 {
    padding-left: 10px;
    color: var(--secondary);
    font-family: var(--font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    margin-bottom: 0;
}

p+p {
    margin-bottom: 10px;
}

.text-left {
    text-align: right;
}

.bold {
    font-weight: 700;
}

/* footer */
footer {
    padding-top: 60px;
}

footer p {
    color: #FFF;
    font-family: var(--font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer li {
    color: #FFF;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
}

footer ul li {
    text-decoration: none;
}


.wireframes {
    position: relative;
}

.wireframes img {
    position: absolute;
    top: -90px;
}

.creditos {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-content: ce;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-img {
    display: flex;
    justify-content: space-around;
}

.card {
    transform: translatey(-50px);
    border-radius: 10px;
    margin-bottom: 100px;
    padding: 20px;
}

.card-green {
    background: var(--secondary);
    color: var(--white);
}

.news {
    margin-bottom: 100px;
}

.news-icon {
    transform: translatey(-100px);
}

.p-black {
    color: var(--primary);
}

.p-green {
    color: var(--secondary);
}

.p-white {
    color: var(--white);

}


.display-text {
    font-size: 36px;
}